 /* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

li {
  list-style-type: none;
  display: inline-block;
  justify-content: center;
  align-items: center;
  padding: 0.3em .3em;
  margin: .2em;
  font-size: 1rem;
}

li p {
  list-style-type: none;
  display:inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.3em .3em;
  margin: .2em;
  font-size: 1rem;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
} 


 */
