:root {
  font-family:  Helvetica, sans-serif;
  line-height: 2.0;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

#root {
  max-width: 800px;
  margin: auto;
  padding: 2rem;
  text-align: center;
  display: block;
  justify-content: center;
}



body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3em;
  line-height: 0.75;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  display: inline-flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0.3em 0.3em;
  margin: 0.3em;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}

ul {
  display: inline;
  justify-content: center;
  align-items: center;
}

li {
  list-style-type: none;
  display: flex;
  width: 300px;
  border: 1px solid #535bf2;
  padding: 0.3em 0.3em;
  margin: 0.2em;
  font-size: .75rem;
  background-color: #535bf2;
}

li p {
  list-style-type: none;
  justify-content: center;
  align-items: center;
  padding: 0.3em 0.3em;
  margin: 0.2em;
  font-size: 1rem;
}

li div {
  margin-left: auto;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

